

.contend_pregunta{
  background-color: white;

    width: 58%;
    height: 30%;
 
  /* display: -webkit-box;
  display: -ms-flexbox; */
 
  position:relative ;
  left: 22%;
  top: 20%;

  border-radius: 10px;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: left;
  gap: 2rem;
  margin-top: 2rem; 
} 

.col-12{
 
  /* width: 58%;
  height: 250px;
  
  position:sticky ; */
}

