.container {
    display: -webkit-box;
    display: -ms-flexbox;
   
    position: relative;
    left: 4%;
    top: 20%;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: left;
    gap: 2rem;
    margin-top: 2rem;

  }
  #header-select-restaurante{
    text-align: center;
  }