.container__tipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.btn__tipo{
    margin-right: 2rem;
    background: linear-gradient(92.68deg, #db334c 0%, #fd6507);
  width: 228px;
  height: 55.92px;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  border-radius: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 5%;
}